header{
    text-align: center;
    color: gray;

}

section{
    
   

}


img{
    height: 500px;
    width: 500px;
    border: solid 10px yellow;
    background-color: darkred;
}

body{
    background-image: url("pokebackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    padding: 8% 0;
    color: gray;
    

}
